# Bỏ toàn bộ file trong Client/transactions
Client/transactions/**

# Bỏ toàn bộ file trong Client/user_keys
Client/user_keys/**

# Bỏ cache Python trong Client/modules và Server/modules
Client/modules/__pycache__/
Server/modules/__pycache__/

# Bỏ file môi trường trong Server
Server/.env
